body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    direction: rtl;
}

.container {
    text-align: center;
}

.login-box {
    background: #fff;
    width: 350px;
    padding: 30px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.insta-text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    background-color: #fafafa;
    text-align: right;
}

button {
    width: 100%;
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.or-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.line {
    width: 40%;
    height: 1px;
    background-color: #dbdbdb;
}

.or-divider span {
    margin: 0 10px;
    color: #8e8e8e;
    font-size: 14px;
    font-weight: bold;
}

.facebook-login {
    display: block;
    color: #385185;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
}

.forgot-password {
    display: block;
    color: #00376b;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 15px;
}

.signup-box {
    background: #fff;
    width: 380px;
    padding: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    margin-top: 10px;
}

.signup-box p {
    font-size: 14px;
}

.signup-box a {
    color: #0095f6;
    font-weight: bold;
    text-decoration: none;
}
.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #8e8e8e;
}







